<!DOCTYPE html>
<html lang="pt-br"> 
<head>
<title>Meta</title>

<link rel="stylesheet" href="../css/styles.css">
</head>
<meta charset="utf-8">
<meta name="description" content="Curso de HTML5">
<meta name="keywords" content="HTML5, CSS3">
<meta name="author" content="Junior Fernandes">

<body>
<form id="form-cadastro" enctype="application/x-www-form-urlencoded" action="cadastro.php" method="POST" enctype="">
	Email: <br>
	<input type="email" name="email" required>
	<input type="submit" name="cadastrar" formenctype="application/x-www-form-urlencoded" formmethod="GET" value="Cadastrar" formaction="cadastrar.php">
	<input type="submit" formmethod="POST" formenctype="application/x-www-form-urlencoded" formaction="enviar-email.php" name="enviar-por-email" value="Enviar por Email">
</form>

Nome: <br>
<input type="text" name="nome" form="form-cadastro">





</body>
</html> 