<!DOCTYPE html>
<html lang="pt-br"> 
<head>
<title>Mark e Contenteditable</title>

<link rel="stylesheet" href="../css/styles.css">
<style>
	mark{
		background-color: red;
		color:white;
	}
</style>
</head>
<meta charset="utf-8">
<meta name="description" content="Curso de HTML5">
<meta name="keywords" content="HTML5, CSS3">
<meta name="author" content="Junior Fernandes">
<body>
	<div contenteditable>
		<h1 contenteditable="false">Mark e Contenteditable</h1>
		<p>
			Lorem Ipsum é <mark> simplesmente um gerador de texto </mark> e serve para muitas coisas.
		</p>
	</div>



</body>
</html> 